<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit category</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
</head>
<body>
<script th:src="@{/assets/js/script.js}"></script>
<table>
    <form onsubmit="return saveCategory()" th:method="POST" th:action="@{/category/update}" th:object="${category}">
        <tr>
            <td>
                <input type="hidden" id="categoryId" name="categoryId" th:value="${category.getId()}">
            </td>
        </tr>
        <tr>
            <td>
                <label for="categoryName">Category name</label>
            </td>
            <td>
                <input type="text" name="categoryName" id="categoryName" th:value="${category.getName()}">
            </td>
        </tr>

        <tr>
            <td>
                <label for="parentCategory">Parent Category</label>
            </td>
            <td th:if="${!parentCategories.empty}">
                <select id="parentCategory" name="parentCategoryId">
                    <option value=""></option>
                    <option th:each="parentCategory : ${parentCategories}"
                            th:value="${parentCategory.id}" th:text="${parentCategory.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Save category">
            </td>
        </tr>


    </form>
    <td>
        <a href="javascript:history.back()" onclick="return discardChanges()"><button>Cancel</button></a>
    </td>
    </tr>

</table>
</body>
</html>