<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
</head>
<body>

<h2>Cracker market</h2>
<table>
    <tr>
        <td>
            <a href="/goodbye"><button>Goodbye</button></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/category"><button>Categories</button></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/users/new"><button>Register User</button></a>
        </td>
    </tr>
</table>
</body>
</html>